.content-wrapper
  %section.content-header
    %h1
      Albums Listing
    .breadcrumb
      - if user_signed_in?
        %a.btn.btn-sm.btn-primary{:href => "/users/sign_out"} Sign out
      - else
        %a.btn.btn-sm.btn-primary{:href => "/users/sign_in"} Sign In
        %a.btn.btn-sm.btn-primary{:href => "/users/sign_up"} Sign Up

  %section.content
    .row
      .col-xs-12
        .box
          .box-header
          .box-body
            %table#example2.table.table-bordered.table-striped
              %thead
                %tr
                  %th Image
                  %th TagLine
                  %th Created Date
                  %th User
              %tbody
                - @images.each do |b|
                  %tr
                    %td= image_tag(b.pic.url(:small))
                    %td= b.tagline
                    %td= b.cdate
                    %td= b.album.user.email rescue ''
              %tfoot
                %tr
                  %th Image
                  %th TagLine
                  %th Created Date
                  %th User